select, option, input, button, textarea, fieldset{
    padding: 0.4rem 1rem;
    font-size: 1.1rem;
    width: 100%;
}

label, legend{
    font-size: 0.8rem;
}

.form-container{
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    width: 50%;
}

.form-field{
    margin: 1rem 0;
}

.form-field-short{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-field-short label{
    flex-basis: 9rem;
}

input:invalid{
    border: 2px solid red;
}

input[required]{
    border: 1px solid blue;
}
